<div class="row">
  <div class="about-me col-md-12">
      <span >About me</span>
      <img src="https://image.ibb.co/kaxN1e/hola.jpg"/>
      <span class="descripcion">I am a programmer from Cuernavaca</span>
      <div class="categories col-md-12">
          <div class="movies col-md-5">
              <img src="https://preview.ibb.co/bMCN1e/pelicula.png" class="categoria-imagen"/>
              <p>Movies</p>
              <p>What i watch</p>
              <p class="movies-descripcion">i love to watch action movies and the ones in which the character comes from nothing and with touhg training becomes the best of all</p>
          </div>
          <div class="music">
              <img src="https://image.ibb.co/evkLnK/musica.png"/>
              <p>Music</p>
              <p>What i listen</p>
              <p>My favorite kind of music is the alternative one, i love to listen to imagine dragons and the killers. Even though i consider my self as a global genre listener</p>
          </div>
          <div class="clothes">
              <img src="https://image.ibb.co/cHqLnK/ropa.png"/>
              <p>Clothes</p>
              <p>What i wear</p>
              <p>Last days i have the obsession of dressing formal, or at least intending to say something in my way of dressing. I try not to use a random outfit, instead i use something with meaning or at least that say:"this is a formal guy".</p>
          </div>
          <div class="food">
              <img src="https://image.ibb.co/nOAxZz/coimda.png"/>
              <p>Food</p>
              <p>What i eat</p>
              <p>My favorite food are hamburgers, i also don´t like avocado or eating tomatoes with nothing else. Tacos are also my thing that i can´t say no to it. In general food with meat is welcome to my favorite food category</p>
          </div>
      </div>
  </div>  
</div>
