<div class="row">
  <div class="portfolio col-md-12">
      <span>Portfolio</span>
      <img src="imagenes/hola.jpg"/>
      <img src="https://image.ibb.co/kaxN1e/hola.jpg" alt="hola">
      <p>Simplicity is the ultimate sophistication</p>
      <ul>
          <li>Filtered by:</li>
          <li>Design</li>
          <li>Logo</li>
          <li>Photography</li>
          <li>Poster</li>
          <li>Resources</li>
          <li>Restro</li>
          <li>T-shirt</li>
          <li>videos</li>
      </ul>
      <div class="image">
          <img src="imagen.png"/>

          <p>Image galleries are funny</p>
      </div>
       <div class="image">
          <img src="imagen2.png"/>

          <p>A vimeo reel</p>
      </div>
       <div class="image">
          <img src="imagen3.png"/>

          <p>Love for old cameras</p>
      </div>
       <div class="image">
          <img src="imagenes/imagen4.png"/>

          <p>Detailed project page</p>
      </div>
</div> 
</div>
